<app-header></app-header>

<app-name></app-name>

<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="me-1">home</mat-icon>
      <span class="mt-1">Home</span>
    </ng-template>
    <ng-template matTabContent>
      <app-home></app-home>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="me-1">info</mat-icon>
      <span class="mt-1">Properties and tags</span>
    </ng-template>
    Content 1
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="me-1">task_alt</mat-icon>
      <span class="mt-1">Problems</span>
    </ng-template>
    Content 2
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="me-1">analytics</mat-icon>
      <span class="mt-1">Analyzed</span>
    </ng-template>

    Content 3
  </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="me-1">event_available</mat-icon>
      <span class="mt-1">Availability</span>
    </ng-template>

    Content 3
  </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="me-1">memory</mat-icon>
      <span class="mt-1">SLOs</span>
    </ng-template>

    Content 3
  </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="me-1">group</mat-icon>
      <span class="mt-1">Owners</span>
    </ng-template>

    Content 3
  </mat-tab>
</mat-tab-group>