<div class="container-fluid mt-2">
    <app-server-status></app-server-status>
    <app-connections></app-connections>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <app-cpu-usage></app-cpu-usage>
        </div>
        <div class="col-md-6 col-sm-12">
            <app-ram-usage></app-ram-usage>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <app-traffic></app-traffic>
        </div>
        <div class="col-md-6 col-sm-12">
            <app-system-load></app-system-load>
        </div>
    </div>
</div>